

 body {
	background: #143d7a;
	color: black;
	font-family: 'Lora';
	font-size: 18px;
	font-weight: lighter;
	}

 h1,{
 	font-family: 'Roboto';
 }

 h1 {
 	font-size: 32px;
 	font-weight: 900;
 }

 h2 {
 	color: black;
 	font-size: 20px;
 	font-weight: 600;
    font-family: Comic Sans MS;
 }

 p {
    color: #59607B;
 }

 img {
 	width: 100px;
 }

 div {
 	background-color: white;
 	padding: 40px;
 	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
 	border-radius: 4px;
 	text-align: center;
 	width: 700px;
 	margin: 40px auto;

 }

 a {
 	background-color: #af2323;
 	color: white;
 	font-weight: bold;
 	border-radius: 4px;
 	padding: 15px 20px;
 	text-decoration: none;

 }

 a:hover {
 	opacity: 0.7;
 }
.img-circle {
    border-radius: 50%;


}
#btn li {
    padding: 40px;
    padding-left: 0px;
    display: inline;
    list-style: none;
    margin: 30px;
}

